.csv-fields {
    span {
        cursor: pointer;
    }
}

.selected {
    color: #31708f;
    background: #d9edf7 !important;
    border-color: #bce8f1 !important;
}

#integration-logo {
    width: 75%;
}

.settings-group.available_fields{
    display:none !important;
}

#available-formats{
    margin: 10px 15px;
    padding: 5px 10px;
    cursor: pointer;
}

#bugs_list button.upload_bug {
    text-decoration: none;
    padding-top: 0;
}